<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}

        <ul id="menu">
          {% for post in object_list %}
            <li>
              <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
                
        <div id="news-bg">
          <div id="news">
            <p>Чтоб Россия пошла по дороге прогресса,
              <br>Обязательно все мы сегодня должны
              <br>Знать прекрасно историю нашей страны
               <br>И уметь постоять за свои интересы! <br>
  
               <br>Нужно правду от лжи отличать научиться,е
               <br>За Отчизну активно бороться всегда -
               <br>Я уверен: Россия сумеет тогда
               <br>От пороков тяжёлых своих излечиться.</p>
        <td width="498">
        <div id="t-menu">

          <ul>    
          <li><a href="/">home</a></li>
          <li><a href="mailto:Lubava.51@mail.ru">email us</a></li>
          </ul>
          <br clear="all"> 
          </div>

      <div><img src="{% static 'images/img01.jpg' %}" alt=""></div>
      <div id="body_txt">
        <h3><p>Изучение значимых исторических событий и людей подобно путешествию во времени. История изучает прошлое и наследие прошлого в настоящем. Это необходимо для того, чтобы знать, как наш современный мир и народы нашей планеты стали такими, какими мы видим их сегодня, а также как мы эволюционировали </p>
        <p>Многие загадки, пугающие и интригующие, перестают быть такими таинственными, как только становятся понятными сложные причины и события, к ним приведшие. Это объясняет, зачем нужна история. Когда понимается то общее, что мы делим с людьми из прошлого, а также осознаются различия в настоящем, формируется осознание нашего общества, его настоящего, прошлого и будущего. </p>
        <p>История анализирует прошлое, оценивая сложную паутину причин, помогающих понять на происходящие события и явления в современном мире. Она учит аналитическим навыкам, критическому мышлению и логическому анализу ситуаций, что просто необходимо при изучении многих школьных дисциплин. История тренирует память и учит правильно обрабатывать и воспринимать информацию, помогает развить навыки, столь необходимые, чтобы заглянуть за заголовки текстов, правильно поставить вопросы и выразить свое собственное мнение. </p>
        <p>Историческое знание - не больше и не меньше, чем тщательно и критически построенная коллективная память. Именно память делает нас людьми, а коллективная память, то есть история, делает нас обществом. Зачем знать историю? По той причине , что без индивидуальной памяти человек сразу же потеряет свою идентичность, не будет знать, как действовать при встрече с другими людьми. То же самое происходит и с коллективной памятью, хотя ее потеря будет заметна не так моментально. </p></h3>
        <p><em></em></p>
        <h1>&nbsp;</h1>
        </div></td>
    </tr>
  </table>
  
  <div id="footer">
    <div id="bottom_menu"><a href="#">Home Page</a>  |  <a href="#">About Us</a>  |  <a href="#">Our Clients</a>  |  <a href="#">Testimonials</a>  |  <a href="#">Price List</a>  |  <a href="mailto:Lubava.51@mail.ru">Contact Details</a></div>
  </div>
<div style="position:absolute;left:-3072px;top:0" align="center"><a href="http://smarttop.info">Ðåéòèíã ñàéòîâ</a> <a href="http://ds-webevent.com">Øàáëîíû ñàéòîâ</a></div>

{% endblock content %}